<?php if ( isset( $this->content ) ): ?>
	<?php echo( $this->content ); ?>
<?php endif; ?>
<?php if ( Tools_Security_Acl::isAllowed( Tools_Security_Acl::RESOURCE_CONTENT ) ): ?>
	<a href="javascript:;" class="tpopup"
	   data-url="<?php echo $this->websiteUrl ?>plugin/googlesheets/run/gdata/?container=<?php echo $this->container ?>&pageId=<?php echo $this->pageId ?>"
	   title="<?php echo $this->translate( 'Edit gdata' ); ?>"
	   class="tpopup" title="" data-pwidth="300" data-pheight="320">
		<img alt="Google data" src="<?php echo $this->websiteUrl; ?>plugins/googlesheets/web/images/gdata.png"/></a>
<?php endif; ?>

