<?php echo isset( $this->jsapi ) ? $this->jsapi : ''; ?>
<script type="text/javascript">
	// Load the Visualization API and the piechart package.
	google.load('visualization', '1.0', {'packages': ['corechart']});
	// Set a callback to run when the Google Visualization API is loaded.
	google.setOnLoadCallback(drawChart<?php echo $this->hash; ?>);
	// Callback that creates and populates a data table,
	// instantiates the pie chart, passes in the data and
	// draws it.
	function drawChart<?php echo $this->hash; ?>() {

		var query = new google.visualization.Query('<?php echo $this->chartTableLink ?>');

		// Apply query language statement.
		query.setQuery('<?php echo $this->chartSql ?>');

		// Send the query with a callback function.
		query.send(handleQueryResponse<?php echo $this->hash; ?>);
	}

	function handleQueryResponse<?php echo $this->hash; ?>(response) {
		if (response.isError()) {
			alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
			return;
		}
		var data = response.getDataTable();

		// Instantiate and draw our chart, passing in some options.
		visualization = new google.visualization.<?php echo $this->type; ?>Chart(document.getElementById('chart<?php echo $this->hash; ?>'));
		visualization.draw(data, {
			width: <?php echo $this->width; ?>,
			height: <?php echo $this->height; ?>,
			title: '<?php echo $this->name; ?>',
			backgroundColor: { fill:'transparent' }
		});
	}
</script>
<!--Div that will hold the chart-->
<div id="chart<?php echo $this->hash; ?>"></div>
