<?php echo isset( $this->jsapi ) ? $this->jsapi : ''; ?>
<script type="text/javascript">
	// Load the Visualization API and the piechart package.
	google.load('visualization', '1', {'packages': ['map']});
	// Set a callback to run when the Google Visualization API is loaded.
	google.setOnLoadCallback(drawMap<?php echo $this->hash; ?>);

	function drawMap<?php echo $this->hash; ?>() {

		var query = new google.visualization.Query('<?php echo $this->chartTableLink ?>');
		// Apply query language statement.
		query.setQuery('<?php echo $this->Sql ?>');
		// Send the query with a callback function.
		query.send(handleQueryResponse<?php echo $this->hash; ?>);


	}

	function handleQueryResponse<?php echo $this->hash; ?>(response) {
		if (response.isError()) {
			alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
			return;
		}
		var data = response.getDataTable();
		// Instantiate and draw our spreed, passing in some options.
		var visualization = new google.visualization.Map(document.getElementById('data<?php echo $this->hash; ?>'));

		visualization.draw(data, {
			title: '<?php echo $this->name; ?>',
			mapType: 'normal',
			showTip: 1
		});

	}

</script>
<div id="data<?php echo $this->hash; ?>" style="width: <?php echo $this->width; ?>px; height: <?php echo $this->height; ?>px;" class="gmaps"></div>