<div class="seotoaster container" id="google-data" xmlns="http://www.w3.org/1999/html">
	<?php echo $this->partial(
		'admin' . DIRECTORY_SEPARATOR . '_header.phtml',
		array(
			'innerHeaderHtml' => $this->translate( 'Google data' )
		)
	); ?>
	<form id="gsform" class="pluginform grid_12 content-auto" name="gsform" action="" method="post">
		<fieldset class="wrap" style="height: 210px;">
			<select id="gstype" class="grid_12" name="type">
				<option value=""><?php echo $this->translate( 'Select type' ); ?></option>
				<option value="gtables"><?php echo $this->translate( 'Table' ); ?></option>
				<option value="gmaps"><?php echo $this->translate( 'Map' ); ?></option>
				<option value="gcharts-pie"><?php echo $this->translate( 'Chart Pie' ); ?></option>
				<option value="gcharts-bar"><?php echo $this->translate( 'Chart Bar' ); ?></option>
				<option value="gcharts-column"><?php echo $this->translate( 'Chart Column' ); ?></option>
			</select>

			<div class="grid_12">
				<label class="grid_3 alpha mt5px"><?php echo $this->translate( 'Name' ); ?></label>
				<input class="grid_9 alpha omega" type="text" id="gsname" name="name"
				       value="<?php echo $this->name; ?>"/>
			</div>
			<div class="grid_12">
				<label class="grid_3 alpha mt5px"><?php echo $this->translate( 'Key' ); ?></label>
				<input class="grid_9 alpha omega" type="text" id="gskey" name="key" value="<?php echo $this->key; ?>"/>
			</div>
			<div class="grid_12">
				<label class="grid_3 alpha mt5px"><?php echo $this->translate( 'Columns' ); ?></label>
				<input class="grid_9 alpha omega" type="text" id="gsselect" name="select" value="<?php echo $this->select; ?>"/>
			</div>
			<div class="grid_12">
				<label class="mt5px grid_3 alpha"><?php echo $this->translate( 'Size' ); ?></label>
				<?php echo $this->formText( 'width',
					$this->width,
					array( 'class' => 'width grid_3 omega alpha', 'placeholder' => $this->translate( 'Width' ) ) ); ?>
				<span class="mt5px grid_1 alpha omega text-center">X</span>
				<?php echo $this->formText( 'height',
					$this->height,
					array( 'class' => 'height grid_3 omega alpha', 'placeholder' => $this->translate( 'Height' ) ) ); ?>
			</div>
		</fieldset>
		<input type="hidden" id="container" name="container" value="<?php echo $this->containerName ?>"/>
		<input type="hidden" id="pageId" name="pageId" value="<?php echo $this->pageId ?>"/>

		<div class="footer grid_12">
			<a class="error ml-grid" id="delete-gs" href="javascript:;">[ Delete ]</a>
			<button id="submit" class="btn ticon-save mr-grid"
			        type="submit"><?php echo $this->translate( 'Done' ); ?></button>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(function () {
		$('#gstype option[value="<?php echo $this->type; ?>"]').attr('selected', 'selected');
		$(document).on('submit', '#gsform', function () {
			var gstype = $("#gstype option:selected").val();

			if (gstype == '') {
				showMessage('<?php echo $this->translate('Please select Type');?>', true);
				return false;
			}

			$.ajax({
				type: 'post',
				url: '<?php echo $this->websiteUrl; ?>api/googlesheets/googlesheets/',
				dataType: 'json',
				data: {
					pageId: $('#pageId').val(),
					type: gstype,
					name: $('#gsname').val(),
					container: $('#container').val(),
					key: $('#gskey').val(),
					width: $('#width').val(),
					height: $('#height').val(),
					select: $('#gsselect').val()
				},
				beforeSend: showSpinner()
			}).done(function () {
				top.location.reload();
			});

			return false;
		});
		$(document).on('click', '#delete-gs', function () {
			var fareaName = $("#selectFarea option:selected").val();
			$.ajax({
				type: 'delete',
				url: '<?php echo $this->websiteUrl; ?>api/googlesheets/googlesheets/',
				dataType: 'json',
				data: {
					pageId: $('#pageId').val(),
					containerName: $('#container').val()
				},
				beforeSend: showSpinner()
			}).done(function () {
				top.location.reload();
			});

			return false;
		});

	});
</script>
